@font-face {
  font-family: "Gotham Condensed Book";
  src: url("./fonts/GothamCond-Book.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Condensed Bold";
  src: url("./fonts/GothamCond-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Gotham Narrow Black";
  src: url("./fonts/GothamXNarrow-Black-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Narrow Light";
  src: url("./fonts/GothamXNarrow-Light.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Narrow Medium";
  src: url("./fonts/GothamXNarrow-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Narrow Book";
  src: url("./fonts/GothamXNarrow-Book.otf") format("opentype");
}

@font-face {
  font-family: 'Gotham Narrow Black';
  src: url('./fonts/GothamXNarrow-Black-Bold.otf') format("opentype");
}

@font-face {
  font-family: "Gotham Narrow Bold";
  src: url("./fonts/GothamXNarrow-Bold.otf") format("opentype");
}

:root {
  --clr-white: #ffffff;
  --clr-black: #212529;
  --clr-gray: #999999;
  --clr-gray-light: #e5e5e5;
  --clr-red: #dd0000;
  --clr-red-light: #e3acac;
  --clr-navy: #184482;
  --clr-navy-light: #80caff;
  --fs-base: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  max-height: 369px;
}

body {
  margin: 0;
  font-family: "Gotham Condensed Book";
  color: var(--clr-black);
  background: url('./assets/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1 / 1;
  width: 100vw;
  height: auto;
  max-width: 656px;
  max-height: 369px;
  overflow: hidden;
}

.card {
  --clr-background: var(--clr-gray-light);
  max-width:  1000px;
  font-size: var(--fs-base);
}

.card-body {
  --padding-x: 2em;
  --gap: 0.75em;
  padding-left: var(--padding-x);
  display: flex;
  flex-direction: column;
  /* margin-top: 112.7px; */
  margin-top: calc((112.7/ 656) * 100vw);
}

.search-container {
  position: relative;
  /* height: 61.3px; */
  height: calc(( 61.3/ 656) * 100vw);

}

.search {
  /* --font-size: 55.7px; */
  background-color: var(--clr-red);
  --padding-y: 0;
  --padding-x: 0.25em;
  /* --icon-size: calc(var(--font-size) * 0.75); */
  --input-width: 12ch;
  display: flex;
  align-items: center;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  /* height: 61.3px; */
  height: calc((61.3/ 656) * 100vw);
}

.search-input {
  font-size: calc((55.7/ 656) * 100vw);
  line-height: 1;
  padding: var(--padding-y) var(--padding-x);
  font-family: "Gotham Condensed Bold";
  background-color: var(--clr-red);
  color: var(--clr-white);
  border: none;
  width: auto;
  min-width: 4ch;
  max-width: 30ch;
  max-height: 61.3px;
  vertical-align: middle;
}

.vertical-line-bg {
  background-color: var(--clr-red);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.vertical-line {
  border-left: 2px solid white;
  /* height: 80%; */
  height: calc((48.75/ 656) * 100vw);
}

.search-button {
  /* font-size: calc((37.78/ 656) * 100vw); */
  font-size: var(--font-size);
  line-height: 1;
  cursor: pointer;
  padding: var(--padding-y) var(--padding-x);
  background-color: var(--clr-red);
  color: var(--clr-black);
  border: none;
}

.headline-container {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.headline {
  position: absolute;
  z-index: 4;
  max-width: 650px;
  align-items: stretch;

}

.question {
  --max-width: 35ch;
  font-size: calc((64 / 656) * 100vw);
  margin-top: calc((70 / 656) * 100vw);
  color: #FFFAEC;
  font-family: 'Gotham Condensed Bold';
}

.today {
  --icon-size: calc(var(--font-size) * 0.4);
  font-size:  calc((48 / 656) * 100vw);
  color: #FF7A00;
  background-color: #FFFAEC;
  border: solid 1.38px #FFF3D3;
  font-family: 'Gotham Condensed Bold';
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:  calc(250px + (64px - ((64 / 656) * 100vw)));;
  max-width: 320px;
  border-radius: 11.01px;
  line-height: 1;
  /* height: 64px; */
  height: calc((64 / 656) * 100vw);
  padding: calc((22 / 656) * 100vw);
}

.today > svg {
  width: calc((20.11 / 656) * 100vw);
  height: calc((23.57 / 656) * 100vw);
  margin-right: 10px;
}

.subline {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  line-height: 1;
  padding: var(--padding-y) var(--padding-x);
}

#tempImage {
  width: calc((20.11 / 656) * 100vw);
  height: calc((23.57 / 656) * 100vw);
}

.input-warning {
  position: absolute;
  top: 103%;
  left: 6%;
  color: #dd0000;
  font-family: "Gotham XNarrow Light";
  font-weight: 400;
  font-size: 1.125rem;
  display: none;
}

.search-button > svg {
  display: block;
  width: calc((37.78 / 656) * 100vw);
  height: calc((37.78 / 656) * 100vw);
}




#temperature {
  font-weight: 700;
  font-family: "Gotham Condensed Bold";
}

#tempImage {
  width: 28px;
  height: 33px;
}

.bottom-legend {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: flex-start;
  padding: 0;
  gap: 1;
}

.swatches-container {
  --font-size: calc(20px - ((992px - 100vw) * 0.01));
  --gap-x: 1em;
  --swatch-width: 1.5em;
  --swatch-height: 2px;
  font-size: var(--font-size);
  line-height: 1;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 var(--gap-x);
}

.swatch {
  display: flex;
}

.swatch-row {
  display: flex;
  align-items: center;
}

.swatch-label {
  margin-right: 24px;
  font-size: 21px;
}

.info-icon {
  position: absolute;
  z-index: 4;
  max-width: 624px;
  margin-top: 298.9px;
  margin-left: 485.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.info-text {
  color: white;
  font-family: 'Gotham Condensed Bold';
  font-size: 25.52px;
  line-height: 1;
  text-align: right; 
  flex: 1;
}

.info-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}


.swatch-red,
.swatch-blue,
.swatch-transparent {
  width: 27.94px;
  height: 19.79px;
  margin-right: 0.25em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swatch-red {
  background-color: transparent;
  width: 27.94px;
}

.swatch-red::before {
  content: "";
  width: 27.94px;
  height: 2px;
  background-color: var(--clr-red);
}

.swatch-blue {
  background-color: var(--clr-navy-light);
  border-top: 3px solid var(--clr-navy);
}

.swatch-transparent {
  background-color: transparent;
}

.dotted-line {
  border-top: 1px dotted black;
  position: absolute;
  top: 50%;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  justify-items: center;
  background-color: #fefefe;
}

.modal-items {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  justify-items: center;
  align-items: center;
}

.modal-title {
  font-family: "Gotham Condensed Bold";
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  justify-items: center;
  align-items: center;
  display: flex;
}

.modal-input {
  border: #ced4da 2.56px;
  width: 734.55px;
  height: 59px;
  margin-top: 30px;
  left: 33px;
  gap: 9.88px;
  opacity: 0px;
  border-style: solid;
  padding: 14.83px 19.77px 14.83px 19.77px;
  gap: 4.94px;
  border-radius: 10.26px;
  font-family: "Gotham Narrow Medium";
  background-image: url("./assets/icon.svg") center / contain no-repeat;
  font-weight: 400;
  font-size: 1.125rem;
  text-align: left;
}

.modal-text {
  display: flex;
  justify-content: space-between;
  margin-top: 48.47px;
}

.modal-text-close {
  width: 340px;
  height: 60px;
  margin-right: 54.55px;
  line-height: 31.2px;
  color: var(--clr-gray-dark);
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  font-family: "Gotham Narrow Medium";
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
}

.modal-text-search {
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 60px;
  border-radius: 9.99px;
  opacity: 0px;
  background-color: #dd0000;
  border: none;
  font-family: "Gotham Narrow Medium";
  font-weight: 700;
  font-size: 1.25rem;
  color: #ffffff;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.info {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  width: 95vw;
  height: 100vh;
  overflow: auto;
  justify-items: center;
  background-color: #fefefe;
  top: 9.17vh;
  left: 2.52vw;
  right: 2.52vw;
  flex-direction: column;
  border-radius: 20px;
}

.info-items {
  display: flex;
  margin: 50px 60px;
  flex-direction: column;
  justify-items: center;
}

.info-title {
  font-family: "Gotham Condensed Bold";
  font-size: 40px;
  font-weight: 700;
  line-height: 56.26px;
  display: flex;
}

.info-details {
  font-size: 21px;
  line-height: 27.3px;
  margin-top: 28px;
  font-family: "Gotham Narrow Book";
  font-weight: 900;
}


.autocomplete-suggestions {
  position: absolute;
  width: 734.55px;
  height: 200px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #ffffff;
  color: #495057;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  list-style-type: none;
  padding: 10px;
  margin: 150px;
  display: none;
}

.option span {
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 25.32px;
}

.scroll-left,
.scroll-right {
  gap: 0px;
  opacity: 0px;
  border: none;
  scale: 0.9;
  border-radius: 50%;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.search-page-container {
  margin: 0;
  background-color: #f3f2f2;
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 50px;
  overflow-y: hidden;
}

.search-page-header {
  color: #000000;
  font-family: "Gotham Condensed Bold";
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
  text-align: center;
}

.search-btns-container,
.inputFieldContainer,
#citySearchForm {
  width: 100%;
  max-width: 734px;
}

.search-btns-container,
.inputFieldContainer {
  height: 48px;
}

.search-btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.input-field-container {
  position: relative;
  border: 1px solid #495057;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  max-width: 734px;
  height: 48px;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: -15px;
}

.input-magnifying {
  width: 24px;
  margin-left: 17px;
}

.input-field {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
  font-family: "Gotham Narrow Light";
  font-weight: 400;
  font-size: 1.125rem;
  color: #212529;
  align-items: center;
}

.inner-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  gap: 5px;
}

.input-field::placeholder {
  font-family: "Gotham Narrow Light";
  font-weight: 400;
  font-size: 1.125rem;
  color: #212529;
}

.input-field:focus::placeholder {
  color: transparent;
}

.input-legend {
  font-size: 1rem;
  color: transparent;
  z-index: 1;
  transition: all 0.1s ease;
  padding: 0 5px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.input-field-container:focus-within .input-legend,
.input-field:not(:placeholder-shown) + .input-legend {
  top: -3px;
  left: 10px;
  font-size: 0.75rem;
  color: #212529;
  font-family: "Gotham Narrow Light";
  font-weight: 400;
  background: #f3f2f2;
  padding: 0 5px;
}

.cancel-btn,
.search-btn {
  font-family: "Gotham Narrow Medium";
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0px 40.15px 0px 40.15px;
  width: 340px;
  height: 48px;
  outline: none;
  border: none;
}

.cancel-btn {
  color: #495057;
  background-color: #f3f2f2;
}

.search-btn {
  color: #ffffff;
  background-color: #dd0000;
  border-radius: 11.47px;
}

.close {
  color: #495057;
  background-color: transparent;
  margin-right: 15px;
}

.suggestions-wrapper {
  position: absolute;
  top: 102%;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  max-height: 75px;
  background-color: #ffffff;
  border-radius: 8px;
}

#suggestions {
  width: inherit;
  border-radius: 8px;
  margin: 0 0 -15px 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-top: 0;
  height: 24px;
  padding-top: 5px;
}

.suggestion-container {
  display: flex;
  align-items: center;
  height: 24px;
  margin-top: -10px;
  padding-left: 10px;
}

.suggestion-container:hover {
  background-color: #f8f9fa;
}

.suggestion-container.active {
  background-color: #f8f9fa;
  outline: none;
}

.suggestion-container:focus {
  outline: none;
}

.suggestion-icon {
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
}

.suggestion-element {
  font-family: "Gotham Narrow Light";
  font-weight: 400;
  color: #495057;
  font-size: 1.125rem;
  padding: 5px;
}

.input-warning {
  position: absolute;
  top: 103%;
  left: 6%;
  color: #dd0000;
  font-family: "Gotham Narrow Light";
  font-weight: 400;
  font-size: 1.125rem;
  display: none;
}

/* Media query for screens 656px and below */


@media (max-width: 320px) {

}
