@font-face {
  font-family: 'Gotham Condensed Book';
  src: url('./fonts/GothamCond-Book.otf') format("opentype");
}

@font-face {
  font-family: 'Gotham Condensed Bold';
  src: url('./fonts/GothamCond-Bold.otf') format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham Condensed Black';
  src: url('./fonts/GothamCond-Black.otf') format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham XNarrow Light';
  src: url('./fonts/GothamXNarrow-Light.otf') format("opentype");
}

@font-face {
  font-family: 'Gotham XNarrow Medium';
  src: url('./fonts/GothamXNarrow-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'Gotham XNarrow Book';
  src: url('./fonts/GothamXNarrow-Book.otf') format("opentype");
}

@font-face {
  font-family: 'Gotham XNarrow Black';
  src: url('./fonts/GothamXNarrow-Black-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'Gotham XNarrow Bold';
  src: url('./fonts/GothamXNarrow-Bold.otf') format("opentype");
}

:root {
  --clr-white: #ffffff;
  --clr-black: #212529;
  --clr-gray: #999999;
  --clr-gray-light: #e5e5e5;
  --clr-red: #dd0000;
  --clr-red-light: #e3acac;
  --clr-navy: #184482;
  --clr-navy-light: #80caff;
  --fs-base: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Gotham Condensed Book";
  color: var(--clr-black);
  background: url('./assets/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1 / 1;
  width: 100vw;
  height: 100vh; 
  max-width: 656px;
  overflow: hidden;
}

.card {
  --clr-background: var(--clr-gray-light);
  max-width:  1000px;
  font-size: var(--fs-base);
}

.search-container {
  position: relative;
  height: calc(( 61.3/ 656) * 100vw);

}

.search {
  background-color: var(--clr-red);
  --padding-y: 0;
  --padding-x: 0.25em;
  --input-width: 12ch;
  display: flex;
  align-items: center;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  height: calc((61.3/ 656) * 100vw);
}

.search-input {
  font-size: calc((55.7/ 656) * 100vw);
  line-height: 1;
  padding: var(--padding-y) var(--padding-x);
  font-family: "Gotham Condensed Bold";
  background-color: var(--clr-red);
  color: var(--clr-white);
  border: none;
  width: auto;
  min-width: 4ch;
  max-width: 30ch;
  max-height: 61.3px;
  vertical-align: middle;
}

.vertical-line-bg {
  background-color: var(--clr-red);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.vertical-line {
  border-left: 2px solid white;
  /* height: 80%; */
  height: calc((48.75/ 656) * 100vw);
}

.search-button {
  font-size: var(--font-size);
  line-height: 1;
  cursor: pointer;
  padding: var(--padding-y) 10px;
  background-color: var(--clr-red);
  color: var(--clr-black);
  border: none;
}

.headline-container {
  display: flex;
  flex-direction: column;
  height: 10px;
  margin-left: 32px;
}

.headline {
  position: absolute;
  z-index: 4;
  max-width: 650px;
  height: 10px;
  align-items: stretch;

}

.question {
  --max-width: 35ch;
  font-size: calc((64 / 656) * 100vw);
  margin-top: calc((70 / 656) * 100vw);
  color: #FFFAEC;
  font-family: 'Gotham Condensed Bold';
  line-height: 1
}

.today {
  --icon-size: calc(var(--font-size) * 0.4);
  font-size:  calc((48 / 656) * 100vw);
  color: #FF7A00;
  background-color: #FFFAEC;
  border: solid 1.38px #FFF3D3;
  font-family: 'Gotham Condensed Bold';
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(250px + (64px - ((64 / 656) * 100vw)));
  max-width: 320px;
  border-radius: 11.01px;
  line-height: 1;
  height: calc((64 / 656) * 100vw);
  padding: calc((22 / 656) * 100vw);
}

.today > svg {
  width: calc((20.11 / 656) * 100vw);
  height: calc((23.57 / 656) * 100vw);
  margin-right: 10px;
}

.subline {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  align-items: center;
  line-height: 1;
  padding: var(--padding-y) var(--padding-x);
}

#temperature {
  font-weight: 700;
  font-family: "Gotham Condensed Bold";
}

.bottom-legend {
  display: flex;
  position: absolute;
  justify-content: space-between;
  color: white;
  align-items: flex-start;
  padding: 0;
  gap: 1;
  top: 318px;
}

.swatch-label {
  margin-right: 24px;
  font-size: calc((21 / 656) * 116vw);
  font-family: "Gotham XNarrow Light"
}

.info-icon {
  position: absolute;
  z-index: 4;
  width: calc((213 / 656) * 98vw);
  margin-top: calc(291px + (51.05px - ((51.05 / 656) * 100vw)));
  right: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.info-text {
  color: white;
  font-family: 'Gotham XNarrow Medium';
  font-size:  calc((25.52 / 656) * 100vw);
  line-height: 1;
  text-align: right; 
  flex: 1;
}

.info-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  width: calc((35 / 656) * 100vw);
  height: calc((35 / 656) * 100vw);
}

.info-btn > svg {
  width: calc((35 / 656) * 100vw);
  height: calc((35 / 656) * 100vw);
}

/* card body */
.card-body {
  --padding-x: 2em;
  --gap: 0.75em;
  padding-left: var(--padding-x);
  display: flex;
  flex-direction: column;
  margin-top: calc((-45.3/ 656) * 100vw);
}

/* search page */
.search-page-container {
  margin: 0;
  background-color: #f3f2f2;
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: start;
  gap: 0px;
  padding: 0 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0 50px;
  overflow-y: hidden;
}


.search-page-header {
  color: #212529;
  font-family: "Gotham Condensed Bold";
  font-size: calc((47 / 656) * 96vw);
  margin-top: 27px;
  margin-bottom: 0;
  text-align: center;
}

#city-search-form {
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

/* 
.search-btns-container{
  width: 73b4px;
} */

.search-btns-container{
  height: 48px;
}

.search-btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
  flex-direction: column-reverse;
  height: auto;
}

.input-field-container {
  position: relative;
  border: 1px solid #495057;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 5px; */
  width: calc((424.36 / 656) * 100vw);
  height:calc((67.98/ 656) * 100vw);
  box-sizing: border-box;
  padding: 0px 0;
  margin-top: 13px;
}

.input-magnifying {
  width: 24px;
  /* margin-left: 22px; */
}

.input-field {
  width: calc((424.36 / 656) * 100vw);
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
  font-family: "Gotham XNarrow Light";
  font-size: 22.62px;
  padding: 8px;
  color: #212529;
  align-items: center;
}

.inner-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  gap: 5px;
  padding: 17px 22px;
}

.input-field::placeholder {
  font-family: "Gotham XNarrow Light";
  font-weight: 400;
  font-size: 1.125rem;
  color: #212529;
}

.input-field:focus::placeholder {
  color: transparent;
}

.input-legend {
  font-size: 1rem;
  color: transparent;
  z-index: 1;
  transition: all 0.1s ease;
  padding: 0 5px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.input-field-container:focus-within .input-legend,
.input-field:not(:placeholder-shown) + .input-legend {
  top: -3px;
  left: 10px;
  font-size: 0.75rem;
  color: #212529;
  font-family: "Gotham XNarrow Light";
  font-weight: 400;
  background: #f3f2f2;
  padding: 0 5px;
}

.cancel-btn,
.search-btn {
  font-family: "Gotham XNarrow Medium";
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0px 40.15px 0px 40.15px;
  width: calc((424.19 / 656) * 100vw);
  height: calc((68.37 / 656) * 100vw);
  justify-content: center;
  align-items: center;
  margin-bottom: calc((17.34 / 656) * 100vw);
  outline: none;
  border: none;
}

.cancel-btn {
  color: #495057;
  background-color: #f3f2f2;
}

.search-btn {
  color: #ffffff;
  background-color: #dd0000;
  border-radius: 11.47px;
}

.close {
  color: #495057;
  background-color: transparent;
  margin-right: 15px;
}

.suggestions-wrapper {
  position: absolute;
  top: 102%;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  max-height: calc((169.64 / 656) * 100vw);
  background-color: #ffffff;
  border-radius: 8px;
}

#suggestions {
  width: inherit;
  border-radius: 8px;
  margin: 0 0 -15px 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-top: 0;
  height: 56.55px;
  padding: 11px 22px;
}

.suggestion-container {
  display: flex;
  align-items: center;
  height: 24px;
}

.suggestion-container:hover {
  background-color: #f8f9fa;
}

.suggestion-container.active {
  background-color: #f8f9fa;
  outline: none;
}

.suggestion-container:focus {
  outline: none;
}

.suggestion-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.suggestion-element {
  font-family: "Gotham XNarrow Light";
  color: #495057;
  font-size: 22.62px;
  padding: 8px;
}

.input-warning {
  position: absolute;
  top: 103%;
  left: 6%;
  color: #dd0000;
  font-family: "Gotham XNarrow Light";
  font-weight: 400;
  font-size: 1.125rem;
  display: none;
}


.input-warning {
  position: absolute;
  top: 103%;
  left: 6%;
  color: #dd0000;
  font-family: "Gotham XNarrow Light";
  font-weight: 400;
  font-size: 1.125rem;
  display: none;
}

.search-button > svg {
  display: block;
  width: calc((37.78 / 656) * 100vw);
  height: calc((37.78 / 656) * 100vw);
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* info class */
.info {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  width: 95vw;
  height: 100vh;
  overflow: auto;
  justify-items: center;
  background-color: #fefefe;
  top: 9.17vh;
  left: 2.52vw;
  right: 2.52vw;
  flex-direction: column;
  border-radius: 20px;
}

.info-items {
  display: flex;
  margin: 50px 60px;
  flex-direction: column;
  justify-items: center;
}

.info-title {
  font-family: "Gotham Condensed Bold";
  font-size: 40px;
  font-weight: 700;
  line-height: 56.26px;
  display: flex;
}

.info-details {
  font-size: 21px;
  line-height: 27.3px;
  margin-top: 28px;
  font-family: "Gotham XNarrow Book";
  font-weight: 900;
}


.autocomplete-suggestions {
  position: absolute;
  width: 734.55px;
  height: 200px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #ffffff;
  color: #495057;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  list-style-type: none;
  padding: 10px;
  margin: 150px;
  display: none;
}

.option span {
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 25.32px;
}

/* info classes */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 4; 
}

.info {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  width: 95vw;
  height: 100vh;
  overflow: auto;
  justify-items: center;
  background-color: #F3F2F2 ;
  top: 9.17vh;
  left: 2.52vw;
  right:  2.52vw;
  flex-direction: column;
  border-radius: 20px;
}

#close-icon {
  position: absolute;
  top: 34px;
  right: 38px;
  cursor: pointer;
}

.info-items {
  display: flex;
  margin: 20px 75px;
  flex-direction: column;
  justify-items: center;
}

.info-title {
  font-family: 'Gotham Condensed Bold';
  font-size: 36px;
  line-height: 56.26px;
  display: flex;
}

.info-details {
  font-size: 21px;
  line-height: 27.3px;
  margin-top: 28px;
  font-family: 'Gotham XNarrow Book';
}

.column-header-text, .column-item-text {
  font-family: 'Gotham XNarrow Medium';
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;
}

col:nth-child(1) {
  width: 444px;
}

col:nth-child(2),
col:nth-child(3) {
  width: 175px;
}

thead tr {
  height: 70px;
}

tbody tr {
  height: 55px;
}

th:first-child {
  border-top-left-radius: 10px;
}
th:last-child {
  border-top-right-radius: 10px;
}

th, td {
  padding: 16px;
  font-size: 18px;
  text-align: left;
}

th {
  background-color: #495057;
  height: 78px;
  color: white;
}

tr:nth-child(even) {
  background-color:#E9ECEF;
}

tr:nth-child(odd) {
  background-color: #FFFFFF;
  ;
}

@media (max-width: 656px) and (min-height: 370px) and (max-height: 656px) {
  body {
    width: 100vw;
    height: 100vw;
  }
  .headline-container {
    margin-left: 43px;
  }
  .question {
    font-size: calc((118 / 656) * 96vw);
    margin-top: calc((76/ 656)* 100vw);
  }
  .card-body {
    margin-top: calc((122 / 656)* 100vw);
   }
.today {
  top: calc((421/ 656)* 100vw);
  height: calc((84 / 656) * 100vw);  
  font-size: calc((64 / 656)* 100vw);
  max-width: 440px;
}
.swatch-label { 
  font-size: calc((28/ 656)* 100vw);
}
.bottom-legend {
  top: calc((517/ 656)* 100vw);
}
.swatch-label { 
  font-size: calc((28/ 656)* 100vw);
}
.info-icon {
  margin-top: calc((568 / 656)* 100vw);
  margin-left: calc((144 / 656)* 100vw);
  width: calc((433.49 / 656)* 100vw);
}
.info-text {
  font-size: calc((32 / 656)* 100vw);
  text-align: start;
}
.info-btn {
  width: calc((55 / 656) * 100vw);
  height: calc((55 / 656) * 100vw);
}
.info-btn > svg {
  width: calc((55 / 656) * 100vw);
  height: calc((55 / 656) * 100vw);
}
}

@media (max-width: 320px) {
  body {
    height: 369px;
  }
  /* body {
    width: 100vw;
    height: 100vw;
  } */
  .headline-container {
    margin-left: 16px;
  }
  .search {
    height: calc((41.3 / 320) * 100vw);  
  }
  .search-input {
    font-size: calc((36 / 320) * 96vw);
  }
  .search-button > svg {
    width: calc((25.78 / 656)* 100vw);
    height: calc((25.78 / 656)* 100vw);
  }
  .question {
    font-size: calc((48 / 320) * 96vw);
    margin-top: calc((60/ 320)* 100vw);
  }
  .card-body {
    margin-top: calc((-25 / 320)* 100vw);
   }
.today {
  top: calc((231/ 320)* 100vw);
  height: calc((52 / 320) * 100vw);  
  font-size: calc((36/ 320)* 100vw);
  max-width: 300px;
}
.swatch-label { 
  font-size: calc((18/ 320)* 100vw);
}
.bottom-legend {
  top: calc((285/ 320)* 100vw);
}
.swatch-label { 
  font-size: calc((16/ 320)* 100vw);
}
.info-icon {
  margin-top: calc((320 / 320)* 100vw);
  margin-left: calc((51 / 320)* 100vw);
  width: calc((240.49 / 320)* 100vw);
}
.info-text {
  font-size: calc((18 / 320)* 100vw);
  text-align: start;
}
.info-btn {
  width: calc((24.42 / 320) * 100vw);
  height: calc((24.42 / 320) * 100vw);
}
.info-btn > svg {
  width: calc((24.42 / 320) * 100vw);
  height: calc((24.42 / 320) * 100vw);
}

}